# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env

# macOS system files
.DS_Store

# IDE-specific files
.vscode/
*.sublime-project
*.sublime-workspace
